body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* pre-loads background images */
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url("../public/backgrounds/slide_three.jpg") url("../public/backgrounds/slide_two.jpg") url("../public/backgrounds/slide_one.jpg")
}
